body { 
    margin: 0; 
    padding: 0; 
}
#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}
.map-overlay {
    position: absolute;
    left: 0;
    padding: 10px;
}
/* Want to make the icons into a blue bus */
.busMarker {
    background-image: url('./blue.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
    
