body { 
    margin: 0; 
    padding: 0; 
}
h1 {
    z-index: 10;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    height: fit-content;
    margin-top: 0;
    padding: 10px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
}
#map { 
    position: absolute; 
    top: 60px; 
    bottom: 0; 
    width: 100%; 
}
.map-overlay {
    position: absolute;
    left: 0;
    padding: 10px;
}
/* Want to make the icons into a blue bus */
.blueBusMarker {
    background-image: url('./blue.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.redBusMarker {
    background-image: url('./red.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
      
